@import "mixins.scss";

.footer {
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    @media screen and (max-width: 985px) {
      flex-direction: column;
    }
    &-subscribe {
      &-title {
        @include font;
        padding-bottom: 20px;
      }
      &-subtitle {
        font-family: $font-outfit;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #111;
        padding-bottom: 20px;
      }
      &-button {
        display: flex;
        align-items: flex-end;
        button {
          @include button;
        }
        input {
          font-family: $font-outfit;
          font-size: 18px;
          width: 308px;
          height: 37px;
          margin-right: 15px;
          padding-left: 5px;
          border: none;
          border-bottom: 1px solid #111;
        }
      }
    }

    &-contacts {
      &-item {
        padding-bottom: 20px;
        @media screen and (max-width: 985px) {
          display: flex;
        }

        &-list {
          list-style-type: none;
          padding-bottom: 20px;
          @media screen and (max-width: 985px) {
            padding-right: 20px;
            margin: 20px 0;
          }

          &-link {
            @include link;
          }
        }
      }
    }

    &-info {
      &-title {
        @include link;
        margin-top: -50px;
        padding-bottom: 10px;
      }
      &-item {
        padding-bottom: 10px;
        @media screen and (max-width: 985px) {
          display: flex;
        }
        &-list {
          padding-bottom: 10px;
          list-style-type: none;
          @media screen and (max-width: 985px) {
            padding-right: 20px;
          }
          &-link {
            font-family: $font-outfit;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000099;
            text-decoration: none;
          }
        }
      }
      &-img {
        display: flex;
        img {
          padding-right: 30px;
        }
      }
    }
  }

  &-rights {
    margin-bottom: 20px;
    &-i {
      display: flex;
    }
    &-info {
      font-family: $font-outfit;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      color: #111;
      margin: 0 auto;
      padding-left: 320px;
    }
    &-item {
      display: flex;
      padding-right: 70px;
      @media screen and (max-width: 985px) {
        padding-right: 0;
      }
      &-list {
        list-style-type: none;
        padding-left: 20px;
        &-link {
          font-family: $font-outfit;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: #11111180;
          text-decoration: none;
        }
      }
    }
  }
  hr {
    margin: 20px 0;
  }
}
