.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
@media screen and (max-width: 985px) {
  .footer-main {
    flex-direction: column;
  }
}
.footer-main-subscribe-title {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 20px;
}
.footer-main-subscribe-subtitle {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #111;
  padding-bottom: 20px;
}
.footer-main-subscribe-button {
  display: flex;
  align-items: flex-end;
}
.footer-main-subscribe-button button {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  border: 1px solid #3A6150;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #3A6150;
  color: #fff;
}
.footer-main-subscribe-button input {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  width: 308px;
  height: 37px;
  margin-right: 15px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid #111;
}
.footer-main-contacts-item {
  padding-bottom: 20px;
}
@media screen and (max-width: 985px) {
  .footer-main-contacts-item {
    display: flex;
  }
}
.footer-main-contacts-item-list {
  list-style-type: none;
  padding-bottom: 20px;
}
@media screen and (max-width: 985px) {
  .footer-main-contacts-item-list {
    padding-right: 20px;
    margin: 20px 0;
  }
}
.footer-main-contacts-item-list-link {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #111;
}
.footer-main-info-title {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #111;
  margin-top: -50px;
  padding-bottom: 10px;
}
.footer-main-info-item {
  padding-bottom: 10px;
}
@media screen and (max-width: 985px) {
  .footer-main-info-item {
    display: flex;
  }
}
.footer-main-info-item-list {
  padding-bottom: 10px;
  list-style-type: none;
}
@media screen and (max-width: 985px) {
  .footer-main-info-item-list {
    padding-right: 20px;
  }
}
.footer-main-info-item-list-link {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.footer-main-info-img {
  display: flex;
}
.footer-main-info-img img {
  padding-right: 30px;
}
.footer-rights {
  margin-bottom: 20px;
}
.footer-rights-i {
  display: flex;
}
.footer-rights-info {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #111;
  margin: 0 auto;
  padding-left: 320px;
}
.footer-rights-item {
  display: flex;
  padding-right: 70px;
}
@media screen and (max-width: 985px) {
  .footer-rights-item {
    padding-right: 0;
  }
}
.footer-rights-item-list {
  list-style-type: none;
  padding-left: 20px;
}
.footer-rights-item-list-link {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(17, 17, 17, 0.5019607843);
  text-decoration: none;
}
.footer hr {
  margin: 20px 0;
}/*# sourceMappingURL=footer.css.map */