@import "variables.scss";

.div-main {
  &-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;

    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    &-block {
      margin-right: 25px;
      &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-color;
        font-family: $font-outfit;
      }
      &-subtitle {
        font-family: $font-outfit;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-color;
        margin-top: 15px;
      }
      &-text {
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 500px;
        width: 100%;
        margin-top: 10px;
      }
      &-button {
        width: 200px;
        height: 50px;
        background-color: $text-color;
        color: #fff;
        font-family: $font-outfit;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        border: 1px solid $text-color;
        text-align: center;
        margin-top: 40px;
      }
    }
  }
}
