@import "variables.scss";
@import "mixins.scss";

.div-main {
  &-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;

    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 985px) {
      flex-wrap: wrap;
    }
    &-img {
      img {
        @media screen and (max-width: 985px) {
          max-width: 50%;
        }
      }
    }
    &-block {
      margin-right: 25px;
      &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-color;
        font-family: $font-outfit;
      }
      &-subtitle {
        @include subtitle;
        color: $text-color;
        margin-top: 15px;
      }
      &-text {
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 500px;
        width: 100%;
        margin-top: 10px;
      }
      &-button {
        margin-top: 40px;
        @include button;
        @media screen and (max-width: 985px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
